:root {
  font-size: 10px;
}

body {
  position: relative;
  background-color: burlywood;
}

::-webkit-scrollbar {
  display: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

section {
  color: #111;
}

ul {
  overflow: visible;
}

.tag {
  text-decoration: none;
  display: block;
  color: #333;
}

.App {
  overflow-x: hidden;

  width: 100vw;
  height: 100vh;

  font-size: 1.6rem;
}

/************ HEADER ****************/

.Header {
  background: indianred;
  position: fixed;
  top: 0;
  z-index: 1001;
  width: 100vw;
  height: 5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchResults {
  display: none;
}

.Header .logo,
.cart {
  margin: 0 10px;
}

.Header .logo {
  display: flex;
}

.Header .logo img {
  height: 1.7rem;
}

input::placeholder {
  color: indianred;
  font-size: 1.5rem;
  font-weight: 600;
}

.Header input {
  border: none;
  width: 35vw;
  padding: 5px;
  border-radius: 10px;
  color: rgb(117, 64, 64);
  font-size: 1.4rem;
  font-weight: 600;
}

.Header .cart {
  position: relative;
}

.Header .cartIcon {
  font-size: 2.8rem;
  color: #fff;
  text-decoration: none;
}

.Header .cart span {
  color: #fff;
  top: 55%;
  left: 50%;
  transform: translate(-140%, -50%);

  width: 4rem;
  max-width: 4rem;
  height: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 100px;
  font-size: 2rem;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/************* SIDE-MENU **************/

.SideMenu {
  position: fixed;
  z-index: 1001;
  margin-top: 5rem;

  background: salmon;

  height: 85%;
  width: 12%;
  min-width: 163px;
  border-bottom-right-radius: 15px;

  display: flex;
  flex-direction: column;

  opacity: 100;
  box-shadow: -2px 7px 4px 0px rgba(0, 0, 0, 0.12);
}

.SideMenu section {
  transition: all 0.3s;
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 15px;
  padding: 10px 0 0 10px;

  font-size: 1.4rem;
}

.SideMenu .Filter {
  flex: 0;
}
.SideMenu .Categories {
  flex: 1;
}

.SideMenu .toggleMenu > span {
  display: none;
}

.toggleMenu {
  opacity: 100;
}

.SideMenu ul {
  margin: 0;
  padding: 1px;
  width: 85%;

  color: rgb(186, 72, 72);
  font-weight: bold;
}

.SideMenu .tag {
  background-color: indianred;
  color: #ddd;
  font-weight: bold;
  padding: 1px;
  border-radius: 4px;
  margin: 1px 0;
}

.SideMenu .tag.active,
.tag:focus {
  background-color: sandybrown;
}

/**************** CONTENT *************/

.Content {
  margin-top: 6rem;
  margin-left: 16rem;
}

.Books {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 175px));
  grid-template-rows: auto;
  gap: 10px;
}

.Books li {
  list-style: none;
  height: 18rem;
  background-color: seagreen;
}

.Book {
  background: lightcoral;
  border: 1px solid burlywood;
  border-radius: 10px;
  overflow: hidden;
  min-width: 100px;
  max-width: 180px;
  height: max-content;
  position: relative;
  user-select: none;
}

.Book img {
  width: 100%;
  height: 215px;
}

.Book span {
  color: #222;
  margin-left: 5px;
}

/* title */
.Book span:nth-child(3) {
  font-weight: 500;
  font-size: 1.4rem;
}

/* author */
.Book span:nth-child(5) {
  font-size: 1.2rem;
}
/* chapters */
.Book span:nth-child(7) {
  font-size: 1.2rem;
}

.Book .addToCart {
  width: 40px;
  height: 30px;
  position: absolute;
  z-index: 103;
  background: salmon;
  border: none;
  color: #fff;
  font-size: 2rem;
  border-radius: 5px;

  right: 5px;
  top: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.Book .addToCart:hover {
  transform-origin: bottom center;
  animation: shake 0.3s;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(-5deg);
  }
  60% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.Book .addToCart:active {
  background: rgb(244, 98, 82);
  transform: scale(0.95);
}

.Book .QuantityInput {
  display: flex;
}

.QuantityInput input {
  outline: none;
  width: 100%;
  height: 20px;
  border: none;
}

.QuantityInput button {
  border: none;
}

/************ CART ************/

.CartPage {
  font-size: 1.6rem;

  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 25% auto 25%;
  grid-template-rows: 7% auto;
}

.Cart {
  display: flex;
  grid-column: 2;
}

.BookList {
  color: rgb(211, 52, 52);
  font-weight: 600;
  background-color: sandybrown;
  height: max-content;
  border-radius: 6px;
  padding: 5px;
  margin-top: 6rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 5px;
}

.BookListItem {
  /* overflow: hidden; */
  width: 100%;
  border-bottom: 2px solid darksalmon;

  border-radius: 5px;

  display: grid;
  grid-template-columns: auto 75% auto;
  gap: 10px;

  position: relative;
}

.BookListItem .cover {
  width: 70px;
  height: 100%;
  background-color: #ddd;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.BookListItem .info {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}

.BookListItem .info .title {
  width: 80%;
  color: rgb(236, 74, 56);
}
.BookListItem .info .author {
  font-size: 1.3rem;
  color: #444;
}
.BookListItem .pricing {
  position: absolute;
  right: 2%;
  top: 50%;
  transform: translateY(-50%);

  width: max-content;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.BookListItem .pricing .price {
  font-size: 1.6rem;
  color: crimson;
  font-weight: 600;
}

.BookListItem button {
  border: none;
  font-size: 1.1rem;
  border-radius: 5px;
  color: rgb(236, 74, 56);
  border: 1px solid rgb(226, 165, 159);

  transition: all 0.15s;
}

.BookListItem button:active {
  border: 1px solid crimson;
  color: crimson;
}

.Proceed {
  grid-column: 3;
  grid-row: 2;

  height: 70vh !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Proceed button {
  border-radius: 10px;
  background: crimson;
  color: #fff;
}

.Proceed button:nth-child(1) {
  background: yellowgreen;
  color: #222;
  font-weight: 500;
}

.Proceed button:active {
  filter: brightness(0.9);
}

.Proceed button {
  border: none;
  margin: 1rem;
  padding: 5px 10px;
  font-size: 1.5rem;
}

.BookListItem {
  background-color: antiquewhite;
  height: 7rem;
}

.totalCart {
  width: max-content;
  padding: 2px;
  color: #333;
  font-size: 2rem;
  font-weight: 600;
}

/*********** CHECKOUT ***********/

.Checkout {
  font-size: 1.6rem;

  width: 100vw;
  height: 100vh;
  background: salmon;

  display: flex;
  justify-content: center;
  align-items: center;
}

.PayPanel {
  width: max-content;
  height: max-content;
  padding: 100px 30px;
  border-radius: 10px;
  color: #fff;
  background: indianred;

  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.PayPanel .coupon {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2px;
}

.PayPanel input {
  border: none;
  padding: 4px;
  border-radius: 6px;
}

.total {
  font-size: 5rem;
}

.buttons {
  display: flex;
  gap: 10px;

  text-decoration: none;
}

.buttons button,
.buttons .cancel {
  text-decoration: none;
  border-radius: 6px;
  border: none;
  padding: 5px 10px;
  background-color: #fff;
  color: #222;
  font-weight: 500;
  font-size: 1.6rem;
}

.buttons Link {
  background-color: #fff;
}

.orderSuccess {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

.orderSuccess span:first-child {
  font-size: 3rem;
  font-weight: 600;
}

.orderSuccess span:last-child {
  font-size: 1.2rem;
  text-align: center;
}

@media screen and (max-width: 400px) {
  :root {
    font-size: 8px;
  }

  body {
    overflow: auto;
  }

  .searchResults {
    display: block;
  }

  .SideMenu {
    height: 70vh;
  }

  .SideMenu li {
    background: red !important;
  }

  .toggleMenu {
    visibility: visible;
    opacity: 1;
    position: absolute;
    color: #fff;
    font-size: 2rem;

    top: 0px;
    left: 99% !important;
    background-color: indianred;
    padding: 0px 8px;
    height: 25px;
    border-bottom-right-radius: 10px;

    z-index: 1003;
    transition: all 0.3s;
    box-shadow: -5px -1px 4px 0px rgba(0, 0, 0, 0.12);
  }

  .SideMenu .toggleMenu > span {
    display: inline-block;
  }

  .SideMenu#hidden .toggleMenu {
    left: 100% !important;
    border-bottom-right-radius: 10px;
  }

  .SideMenu#visible {
    border-radius: 0 !important;
  }

  .SideMenu#hidden {
    transform: translate(-100%);
  }

  .SideMenu#hidden section {
    display: none;
  }

  .SideMenu#hidden {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
    border-bottom-right-radius: 10px !important;
  }

  .toggleMenu#visible,
  .Header {
    box-shadow: 1px 3.3px 4px 0px rgba(0, 0, 0, 0.3) !important;
    box-shadow: none;
    border-radius: 0;
  }

  .toggleMenu#hidden {
    height: 100%;
    border-radius: 0 !important;
    border-top-left-radius: 10px !important;
    transform: rotate(-180deg);
    left: 100%;
  }

  .Content {
    margin-left: -5px;
  }

  .Books {
    row-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(100px, 155px));
    gap: 10px;
  }

  .Book .price {
    bottom: 2.9rem !important;
  }

  .Header .logo {
    display: flex;
  }

  .Header .logo img {
    height: 1.7rem;
  }

  input::placeholder {
    font-size: 1.5rem;
  }

  .Header input {
    margin-left: -4rem;
    text-align: center;
    font-size: 1.6rem;
  }

  /* CART PAGE */
  .CartPage {
    display: grid;
    grid-template-columns: 60% auto;
    gap: 10px;
  }

  .BookList::before {
    content: 'Your Cart Items';
    font-size: 2rem;
    font-weight: 500;
    color: rgb(209, 78, 78);
  }

  .Cart {
    margin-top: 6rem;
    height: 100vh;
    grid-column: 1/2;
  }

  .BookList {
    margin-top: 0;
    font-size: 1rem;
    overflow: visible;
    padding: 5px;
  }

  .BookListItem {
    overflow: hidden;
  }

  .BookListItem .info {
    min-width: 80px;
    max-width: 100px;
  }

  .BookListItem .info .title {
    font-size: 1.3rem;
  }
  .BookListItem .info .author {
    font-size: 1rem;
  }

  .Proceed {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .PayPanel {
    max-width: 80lvw;
  }

  .orderSuccess {
    padding: 0;
  }
  .orderSuccess span:first-child {
    font-size: 150%;
  }
}
